@page "/add"
@using System.Net.Http

@inject HttpClient client

@using Newtonsoft.Json
@using Data

@using Microsoft.Extensions.Logging
@inject ILogger<Search> Logger


<h1>Add App </h1>

<p>Add new App to the database </p>



    <EditForm class="form-inline my-2" Model="@storeApp" OnValidSubmit="SubmitApp">
        <p>
            <label> Name of App </label>
            <InputText class="form-control rounded" id="name" @bind-Value="storeApp.Name" />
        </p>
        <p>
            <label> Category </label>
            <InputText class="form-control rounded" id="category" @bind-Value="storeApp.Category" />
        </p>
        <p>
            <label> Date </label>
            <InputText class="form-control rounded" id="date" @bind-Value="storeApp.Date" />
        </p>
        <button class="btn btn-outline-primary" type="button">Add</button>
    </EditForm>

        @if (StoreApps != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Rating</th>
                        <th>People</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var storeapp in StoreApps)
                    {
                        <tr class="justify-content-space-evenly">
                            <td>@storeapp.Id</td>
                            <td>@storeapp.Name</td>
                            <td>@storeapp.Rating</td>
                            <td>@storeapp.People</td>
                            <td>@storeapp.Category</td>
                            <td>@storeapp.Date</td>
                            <td>@storeapp.Price</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @if (!StoreApps.Any())
        {
            <div class="justify-content-center">
                <h5>No records to show</h5>
            </div>
        }



@*<InputNumber class="form-control rounded" id="name" @bind-Value="storeApp.Price" />*@

@code
    {
    private StoreApp storeApp = new();

    private void SubmitApp()
    {
        Logger.LogInformation("SubmitApp called");

    }

    string responseBody = "";
    List<StoreApp>
        StoreApps = new List<StoreApp>
            ();

    protected override async Task OnInitializedAsync()
    {
        var apiName = "api/StoreApps/";
        var httpResponse = await client.GetAsync(apiName);

        if (httpResponse.IsSuccessStatusCode)
        {
            responseBody = await httpResponse.Content.ReadAsStringAsync();
            StoreApps = JsonConvert.DeserializeObject<List<StoreApp>>(responseBody);
            StateHasChanged();
        }

    }
}
